params {
	bams = "/path/to/bam_cram_files/*.{bam,cram}*" // BAM or CRAM files as an input. Each file must have a corresponding BAI or CRAI index file.
	// Tab-delimited file with reported sex. Two columns. Header: "NAME", "SEX". Coding: F - female, M - male, NA - missing. Sample name is equal to the corresponding BAM file name without suffixes.
	reported_sex = "/path/to/reported/sex/reported_sex.txt"
	// Targets' BED file is used only when analyzing WES
	targets_bed = "/path/to/wes/target/file/targets.bed"
	fasta = "/path/to/genome_reference/reference.fa"
	// Specify path to the directory with the compiled VerifyBamID2 tool. 
	verifyBamId_dir = "/path/to/dir/VerifyBamID-2.0.1"
	genome_build = "b38"
	// genome_build = "b37"
}

process {
	executor = "slurm"
	//executor = "local"
	// uncomment the line below if you want to specify additional options e.g. account name
	// clusterOptions = "--account=XYZ"
	time = "12h"
	memory = "4GB"
}

executor {
	$slurm {
		queueSize = 100
		jobName = { "bamqc" }
	}
}
